.media_video > iframe {
  width: 100%;
  height: 100%;
}

.media_content {
  overflow: hidden;
  background-color: #f1f1f1;
}

.media_content.hide {
  display: none;
}

@media screen and (min-width: 1024px) {
  .media_content {
    display: block;
  }

  .media_content.hide {
    display: block;
  }
}
